.l-sidebar
  %h2.m-headline Dein Stimmbezirk
  .m-district-list
    - @districts.each do |district|
      .m-district{class: @district == district ? 'is-active' : ''}
        = link_to root_path(district: district.official_id) do
          .m-district--name
            = district.name
.l-main-content
  %h3.m-headline= "Interaktiver Stimmzettel #{@district.name}"
  %h2.m-headline Sie haben 2 Stimmen
  .m-stimmzettel
    .m-stimmzettel--first-vote
      .m-stimmzettel--headline Erststimme
      = render 'shared/politicans'
    .m-stimmzettel--second-vote
      .m-stimmzettel--headline Zweitstimme
      = render 'shared/parties'

