.l-main-content
  %h3.m-headline= "Während der Wahl"
.m-district-map
  #container{style: "min-width: 310px; height: 400px; margin: 0 auto; margin-bottom:80px"}
  #container_percent{style: "min-width: 310px; height: 400px; margin: 0 auto"}

:javascript
  $(function () {
    $('#container').highcharts({
      title: {
          text: 'Bundestagswahlen 2013',
          x: -20 //center
      },
      subtitle: {
          text: 'Absolute Wahlbeteiligung',
          x: -20
      },
      xAxis: {
          categories: #{@wahlbeteiligung.map {|obj| obj.time.strftime("%H:%M")}.uniq}
      },
      yAxis: {
          title: {
              text: 'Wahlbeteiligung'
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
          }]
      },
      tooltip: {
          valueSuffix: ' Wähler'
      },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
      },
      series: [{
          name: '2009',
          data: #{@wahlbeteiligung.where(election_id: @election_2009.id).map {|obj| obj.vote_count}.uniq}
      }, {
          name: '2013',
          data: #{@wahlbeteiligung.where(election_id: @election_2013.id).map {|obj| obj.vote_count}.uniq}
      }]
    });

  $('#container_percent').highcharts({
      title: {
          text: 'Bundestagswahlen 2013',
          x: -20 //center
      },
      subtitle: {
          text: 'Prozentuale Wahlbeteiligung',
          x: -20
      },
      xAxis: {
          categories: #{@wahlbeteiligung.map {|obj| obj.time.strftime("%H:%M")}.uniq}
      },
      yAxis: {
          title: {
              text: 'Wahlbeteiligung'
          },
          plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
          }]
      },
      tooltip: {
          valueSuffix: '%'
      },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle',
          borderWidth: 0
      },
      series: [{
          name: '2009',
          data: #{@wahlbeteiligung.where(election_id: @election_2009.id).map {|obj| obj.vote_percent}.uniq}
      }, {
          name: '2013',
          data: #{@wahlbeteiligung.where(election_id: @election_2013.id).map {|obj| obj.vote_percent}.uniq}
      }]
    });

  });
      
