!!!
%html
  %head
    %title Stimmzettel
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %script{src: "http://code.highcharts.com/highcharts.js"}
    %script{src: "http://code.highcharts.com/modules/exporting.js"}

  %body
    .l-header
    .l-menu
      %ul
        %li 
          = link_to "Vor der Wahl", root_url
        %li 
          = link_to "Sehr kurz davor", pages_wahlauer_url
        %li 
          = link_to "Während der Wahl", bundestag_election_district_votes_url
        %li 
          = link_to "Danach...", results_url
    .l-content
      = yield
    .l-footer
